<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Submit Form Validations Tests">
    <classes>
      <class name="org.gds.android.TestSubmitForm"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Add To Cart Test">
    <classes>
      <class name="org.gds.android.TestAddToCart"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="End to End Test">
    <classes>
      <class name="org.gds.android.TestValidateCartTotal"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
